*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;Responsibility
  position: relative;
}
/* ---header--- */
.header{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f1f1f1;
}
.logo{
  display: flex;
  align-items: center;
  padding-left: 40px;
  width: 300px;
}
.logo .menu{
  cursor: pointer;
  color: #5073fb;
}
.logo h2{
  color: #5073fb;
  font-size: 1.5rem;
}
.search-notification-profile{ 
  width: calc(100% - 300px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.search{
  background-color: #f1f4f8;
  border-radius: 50px;
  width: 400px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input{
  background-color: transparent;
  outline: none;
  border: none;
  text-indent: 15px;
  width: 85%;
}
.search button{
  outline: none;
  border: none;
  padding: 8px;
  border-radius: 50%;
  background-color: #fff;
}
.search button i{
  font-size: 1.1rem;
  color:#5073fb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification-profile{
  display: flex;
  align-items: center;
}
.picon{
  margin-left: 20px;
  font-size: 15px;
  padding: 7px;
  border-radius: 5px;
}
.lock{
  color:#5073fb;
  background-color: rgba(80, 114, 251, .2);
}
.notification{
  color: #f1d243;
  background-color: rgba(241, 210, 67, .2);
}
.chat{
  color: #70d7a5;
  background-color: rgba(112, 215, 165, .2);
}
.profile{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.profile img{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border: 1px solid #000;
  border-radius: 50%;
}
/* ---main--- */
.main{
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}
/* ---sidebar--- */
.sidebar{
  top: 0;
  left: 0;
  position: absolute;
  width: 300px;
  height: 100%;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid  #f1f1f1;
  transition: .6s;
}
.sidebar .sidebar-items li,
.sidebar .bottom-sidebar-items li{
  list-style: none;
}
.sidebar.active{
  width: 105px;
  overflow: hidden;
  padding: 20px;
}
.sidebar.active .sidebar-item{
  display: none;
  list-style: none;
}
.sidebar.active .sidebar-item li a{
  justify-content: center;
}
.sidebar-items li a,
.bottom-sidebar-items li a{
  display: flex;
  margin-bottom: 10px;
  text-decoration: none;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 0.8rem;
  color: rgb(59, 58, 58);
  font-weight: bold;
}
.sidebar-items li a:hover,
.bottom-sidebar-items li a:hover{
  background-color: rgba(80, 115, 251, .4);
  color: #fbfbfb;
  text-decoration: none;
}
.bottom-sidebar-items li:last-child a{
  margin-bottom: 0;
}
#active-link{
  background-color: #5073fb;
  color: #fff;
}
.icon{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 1.3rem;
}
.icon-1{
  color: #c5bc58;
}
.icon-2{
  color: #a280e9;
}
.icon-3{
  color: #85ade3;
}
.icon-4{
  color: #e36ac8;
}
.icon-5{
  color: #70d7a5;
}
.icon-6{
  color: #5f5ce0;
}
.icon-7{
  color: #e86786;
}
/* ---main-content--- */
.main-content{
  width: calc(100% - 300px);
  height: calc(100vh - 60px);
  overflow-y: scroll;
  top: 0;
  right: 0;
  position: absolute;
  padding: 20px 20px;
  transition: .6s;
  background-color: #fff;
}
.main-content.active{
  width: calc(100% - 105px);
}
/* ---over-views--- */
.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 30px; 
}
.section-title{
  font-weight: 400;
}
.cards{
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
}
.card{
  padding: 20px;
  border-radius: 20px;
  min-width: 230px;
  height: auto;
  transition: .3s;
}
.card:hover{
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, .7);
}
.card-data{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card h1{
  font-size: 30px;
  margin-top: 10px;
}
.card-icon-lg{
  font-size: 50px;
}
.card-stats{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px
}
.card-stats span{
  display: flex;
  align-items: center;
}
.card-stats span .card-icon{
  margin-right: 5px;
}
.stat-icon{
  color: #5f5ce0;
}
.up-arrow{
  color: #70d7a5;
}
.down-arrow{
  color: #e86786;
}
.card-1{
  background-color: rgba(80, 115, 251, .2);
}
.card-1 .card-title{
  color: rgba(80, 115, 251, 1);
}
.card-1 .card-icon-lg{
  color: rgba(80, 115, 251, .7);
}
.card-2{
  background-color: rgba(197, 188, 88, .2);
}
.card-2 .card-title{
  color: rgba(197, 188, 88, 1);
}
.card-2 .card-icon-lg{
  color: rgba(197, 188, 88, .7);
}
.card-3{
  background-color: rgba(227, 106, 200, .2);
}
.card-3 .card-title{
  color: rgba(227, 106, 200, 1);
}
.card-3 .card-icon-lg{
  color: rgba(227, 106, 200, .7);
}
.card-4{
  background-color: rgba(232, 103, 134, .2);
}
.card-4 .card-title{
  color: rgba(232, 103, 134, 1);
}
.card-4 .card-icon-lg{
  color: rgba(232, 103, 134, .7);
}
/* ---doctors--- */
.companies-right-btn{
  display: flex;
  align-items: center;
  gap: 30px;
}
.add{
  display: flex;
  align-items: center;
  padding: 7px;
  outline: none;
  border: none;
  background-color: #5073fb;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}
.add:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}
.add i{
  margin-right: 10px;
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
  color: #000;
}
.companies-cards{
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
}
.company-card{
  padding: 20px;
  border-radius: 20px;
  height: auto;
  transition: .3s;
  border: 2px solid #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .8rem;
}
.company-card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}
.img-box-cover{
  border: 1px solid #5073fb;
  padding: 2px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 10px;
}
.img-box{
  position: relative;
  width: 80px;
  height: 71px;
  overflow: hidden;
  border-radius: 50%;
}
.img-box img{
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
.job-type{
  color: #010101;
  font-weight: 400;
}

/* ---recent-users--- */
.view{
  color: #0804fc;
}
.edit{
  color: rgb(255, 115, 0);
}
.delete{
  color: #ff0000;
}
.related_header{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  margin-bottom: 20px;
}
.related_header p{
  font-size: 2rem;
  font-weight: 700;
  color: #5f5ce0;
}
.related_header .backandshow{
  display: flex;
  gap: 5px;
}
.related_header a{
  font-size: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fafafa;
  border-radius: 5px;
  background-color: #e36ac8;
  text-decoration: none;
  cursor: pointer;
}
.related_header a i{
  font-size: 15px;
}
.related_header a:hover{
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, .5);
  background-color: rgba(227, 106, 200, .8);
}
.related_area{
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 0 11px 3px #c7c7c7;
  margin-top: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}
.related_area .table-holder{
  width: 100%;
}
.related_area table{
  min-width: 100%;
  text-align: center;
  margin-bottom: 100px;
}
.related_area table tr:hover{
  background-color: #ddd;
}
.related_area table tr th{
  background-color: #5f5ce0;
  font-weight: normal;
  color: #fafafa;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 10px;
}
.change-role{
  margin-left: 10px;
}
.related_area table tr td{
  font-size: 0.8rem;
  padding: 10px;
  background-color: #f2f2f2;
}
.related_area form{
  width: 100%;
  padding: 20px;
}
.related_area form .form-control{
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 10px;
}
.related_area form .form-control label{
  width: 20%;
  text-align: right;
  margin-right: 20px;
  color: #5f5ce0;
  font-weight: bold;
}
.related_area form .form-control .input-holder{
  width: 70%;
}
.related_area form .form-control .input-holder img{
  width: 130px;
  border: 1px solid #5f5ce0;
  padding: 10px;
  margin-bottom: 10px;
}
.related_area form .form-control .input-holder input{
  width: 100%;
  height: 40px;
  padding-left: 20px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #5f5ce0;
}
.related_area form .form-control .input-holder input.file-upload{
  padding-top: 7px;
}
.related_area form .form-control .input-holder textarea{
  width: 100%;
  height: 100px;
  padding-left: 20px;
  padding-top: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #5f5ce0;
}
.note-editor.note-airframe .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-editable{
  padding: 30px !important;
}
.related_area form .form-control .input-holder select{
  width: 100%;
  height: 40px;
  padding-left: 20px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #5f5ce0;
}
.related_area form .form-control .submit{
  width: 100px;
  height: 40px;
  float: right;
  display: block;
  border: none;
  cursor: pointer;
  background-color: #5f5ce0;
  color: #fafafa;
  border-radius: 5px;
}
.related_area form .form-control .submit:hover{
  background-color: rgba(95, 92, 224, .8);
}
.required{
  color: #ff0000;
}
.error{
  font-size: 12px;
  font-weight: normal !important;
  color: #ff0000 !important;
}
.alert-box{
  margin-top: 20px;
  margin-bottom: 20px;
}
.alert-box .alert{
  width: auto;
  height: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.alert-box .alert.alert-danger{
  color: #fff;
  font-weight: 500;
  background-color: rgba(255, 0, 0, .5);
} 
.alert-box .alert.alert-success{
  color: #fff;
  font-weight: 500;
  background-color: rgba(0, 128, 0, .5);
} 
.alert-box .alert.alert-warning{
  color: #fff;
  font-weight: 500;
  background-color: rgb(255, 102, 0);
}
.alert-box .alert a{
  color: purple;
  margin-left: 10px;
}

/* dropdown */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.dropbtn.switch-admin{
  background-color: rgb(103, 103, 185);
}
.dropbtn.switch-other{
  background-color: yellow;
  color: #000;
}
.dropdown {
  display: inline-block;
}
.dropdown-content {
  min-width: 80px;
  display: none;
  font-size: 0.9rem;
  background-color: #f9f9f9;
  padding: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{
  color: #fff;
  background-color: #5f5ce0;
}
.dropdown-content a:hover i{
  color: #fff;
}
.dropdown-content.dropon {
  display: block !important;
  position: absolute;
  z-index: 20;
}
/* dropdown */

/* detail */
.details-wrapper{
  height: 300px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.details-wrapper .wrap{
  width: 70%;
  min-height: 250px;
  height: fit-content;
  padding: 20px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, .7);
}
.wrap .profile-holder{
  flex-basis: 30%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.wrap .profile-holder img{
  width: 100%;
  padding: 20px;
}
.wrap .profile-details{
  flex-basis: 60%;
  padding-inline: 20px;
  position: relative;
  padding-bottom: 10px;
}
.wrap .profile-details .title{
  font-size: 20px;
  font-weight: bold;
}
.wrap .profile-details .title span{
  font-size: 15px;
  font-weight: normal;
}
.wrap .profile-details .type{
  color: rgb(80, 77, 77);
}
.wrap .profile-details .mail{
  margin-top: 10px;
  font-size: 14px;
}
.wrap .profile-details .address{
  font-size: 15px;
  margin-top: 10px;
}
.wrap .profile-details .details-footer{
  width: 100%;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.wrap .profile-details .details-footer .edit-btn{
  text-decoration: none;
  font-size: 12px;
  padding-inline: 20px;
  padding-block: 6px;
  border-radius: 7px;
  color: white;
  background-color: #5f5ce0;
  cursor: pointer;
}
.wrap .profile-details .details-footer .contact-lists{
  list-style: none;
  display: inline;
}
.wrap .profile-details .contact-lists li{
  display: inline-block;
  margin-right: 20px;
}
.wrap .profile-details .contact-lists li a{
  font-size: 25px;
  text-decoration: none;
}
.facebook{
  color: rgb(37, 37, 250);
}
.instagram{
  color: rgb(148, 6, 84);
}
.twitter{
  color: rgb(18, 105, 139);
}
.whatsapp{
  color: forestgreen;
}
/* detail */
/* job profile */

.job-profile{
  width: 70%;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .7);
  display: flex;
  padding: 10px;
  border-radius: 10px;
}
.job-profile img{
  width: 150px;
  height: auto;
  padding: 10px;
}
.job-profile .text{
  padding: 5px;
  flex-basis: 50%;
}
.job-profile .text .job-name{
  color: rgb(12, 12, 12);
  font-size: 25px;
  font-weight: 700;
}
.job-profile .text .job-company{
  color: rgb(153, 132, 132);
  font-size: 20px;
}
.job-profile .text ul{
  margin-top: 30px;
}
.job-profile .text ul li{
  display: inline-block;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.job-profile .text ul li i{
  display: inline-block;
  font-size: 14px;
  color:rgb(59, 58, 58);
  margin-right: 10px;
}
.job-profile .text ul li:last-child{
  margin-top: 10px;
}
.job-text{
  color: #000;
}
.job-text ul li{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.job-text ul li:first-child{
  margin-top: 10px;
}
.long-text{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
.long-text h2{
  margin-top: 20px;
  margin-bottom: 20px;
}
.long-text span{
  display: block;
  margin-top: 20px;
}
.long-text span ul{
  margin-left: 20px;
}
.long-text span ul li{
  list-style: square;
  margin-bottom: 10px;
}
.option{
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.detail-wrapper .updated{
  font-size: 13px;
  overflow-x: hidden;
  border: 1px solid #0804fc;
  padding: 10px;
  border-radius: 5px;
}
.edit-btn{
  text-decoration: none;
  margin-left: 10px;
  font-size: 12px;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 5px;
  color: white;
  background-color: #5f5ce0;
  cursor: pointer;
}

/* job profile */
/* applicant */
.applicant_companies{
  color: #009000;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.applicant_relate{
  display: flex;
  justify-content: center;
}
.applicant_company{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.applicant_company img{
  width: 100px;
  height: auto;
}
.applicant_company span{
  position: absolute;
  opacity: 0;
  text-align: center;
}
.applicant_company:hover{
  background-color: rgba(15, 58, 197, .6);
}
.applicant_company:hover img{
  opacity: 0;
  transition: .5s;
}
.applicant_company:hover span{
  font-weight: bold;
  color: #fff;
  opacity: 100%;
  transition: .5s;
}
.alert{
  color: orangered;
}
.count{
  color: #009000;
  font-weight: 600;
}
.apply-job-name{
  font-size: 0.6rem;
  color: #009000;
}
.accept{
  font-size: 13px;
  color: #009000;
}
.denied{
  font-size: 13px;
  color: #ff0000;
}
.mail-button{
  font-size: 0.9rem;
  color: #009000;
}
.mail-button i{
  font-size: 1rem !important;
}

/* applicant */
/* message */
.message_box{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* message */
/* profile */
.profile-wrapper{
  display: flex;
  padding: 20px;
  align-items: flex-start;
  gap: 30px;
}
.profile-wrapper img{
  width: 200px;
  padding: 10px;
  border: 1px solid #5f5ce0;
}
.profile-wrapper .details-text .profile-field{
  width: 500px;
  display: flex;
  gap: 20px;
  padding-block: 20px;
  margin-left: 20px;
}
.profile-wrapper .details-text .profile-field .field-name{
  flex-basis: 30%;
}
.profile-wrapper .details-text .profile-field .field-value{
  flex-basis: 60%;
}
.profile-wrapper .details-text .profile-field a{
  margin: 0;
}
/* profile */

@media (max-width: 1350px){
 .cards,
 .companies-cards{
  overflow-x: scroll;
 } 
}
@media (max-width: 1024px){
  table{
    min-width: 600px;
  }
}
@media screen and (max-width: 860px), screen and (max-width: 768px){
  .sidebar{
    width: 105px;
    background-color: #fff;
    z-index: 10;
  }
  .sidebar .sidebar-item,
  .sidebar .bottom-sidebar-item{
    display: none;
  }
  .sidebar.active{
    width: 300px;
  }
  .sidebar.active .sidebar-item,
  .sidebar.active .bottom-sidebar-item{
    display: block;
  }
  .main-content{
    width: calc(100% - 105px);
  }
  .main-content.active{
    width: calc(100% - 300px);
  }
  .job-profile{
    width: max-content;
    height: auto;
    flex-direction: column;
  }
  .logo{
    padding-left: 30px;
    width: fit-content;
  }
  .logo h2{
    font-size: 1.2rem;
  }
  .search{
    display: none;
  }
  .search-notification-profile{
    justify-content: end;
    padding: 0 20px;
    margin-left: auto;
  }
  .related_header p{
    font-size: 1.5rem;
  }
  .related_header a{
    font-size: 0.7rem;
    padding: 5px 10px;
  }
  .related_header a span{
    display: none;
  }
  .related_area{
    overflow-x: scroll;
  }
  .related_area form{
    padding: 0px;
  }
  .related_area form .form-control{
    flex-direction: column;
  }
  .related_area form .form-control label{
    font-size: 1rem;
    width: 100%;
    text-align: left;
  }
  .related_area form .form-control .input-holder{
    width: 100%;
    padding: 5px;
  }
  .related_area form .form-control .input-holder input, 
  .related_area form .form-control .input-holder select, 
  .related_area form .form-control .input-holder textarea{
    width: 100%;
  }
  .main-content.active{
    width: calc(100% - 85px);
  }
  .add{
    display: none;
  }
  .details-wrapper{
    padding: 0;
    padding-top: 50px !important;
  }
  .details-wrapper .wrap{
    width: 100%;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, .7);
  }
  .details-wrapper .wrap .profile-details{
    flex-basis: 60%;
    padding-bottom: 30px;
  }
  .details-wrapper .wrap .profile-holder{
    flex-basis: 40%;
  }
  .details-wrapper .wrap .details-footer{
    position:relative;
    padding: 0;
    margin-top: 30px;
    align-items: flex-start;
  }
  .details-wrapper .wrap .details-footer .contact-lists{
    display: block;
  }
  .details-wrapper .wrap .details-footer .edit-btn{
    margin-top: 10px;
  }
  .applicant_companies{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 590px){
  .related_area{
    overflow-x: scroll;
  }
  .search, 
  .lock, 
  .chat,
  .notification{
    display: none;    
  }
  .notification-profile{
    margin-left: auto;
  }
  .search-notification-profile{
    width: fit-content;
  }
  .sidebar{
    transform: translateX(-100%);
    z-index: 10;
    background-color: #fff;
  }
  .sidebar.active{
    transform: translateX(0);
    width: 200px;
  }
  .sidebar.active .sidebar-item{
    display: block;
  }
  .main-content{
    width: calc(100% - 0px);
  }
  .main-content.active{
    width: calc(100% - 0px);
  }
  .related_header p{
    font-size: 1.5rem;
  }
  .related_header a{
    font-size: 0.7rem;
    padding: 5px 10px;
  }
  .related_header a span{
    display: none;
  }
  .mail-button i{
    font-size: 1rem;
  }
  .mail-button span{
    display: none;
  }
  .details-wrapper{
    height: auto;
  }
  .details-wrapper .wrap{
    width: 100%;
    flex-direction: column;
  }
  .details-wrapper .wrap .details-footer{
    position:relative;
    padding: 0;
    margin-top: 10px;
    align-items: flex-end;
  }
  .details-wrapper .wrap .details-footer .contact-lists{
    display: block;
  }
  .details-wrapper .wrap .details-footer .edit-btn{
    margin-top: 10px;
  }
  .profile-wrapper{
    flex-direction: column;
  }
  .profile-wrapper .details-text .profile-field{
    margin: 10px;
  }
  .applicant_companies{
    grid-template-columns: repeat(2, 1fr);
  }
}