*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  position: relative;
}
/* ---header--- */
.header{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f1f1f1;
}
.logo{
  display: flex;
  align-items: center;
  padding-left: 40px;
  width: 300px;
}
.logo .menu{
  cursor: pointer;
  color: #5073fb;
}
.logo span{
  color: #5073fb;
}
.search-notification-profile{
  width: calc(100% - 300px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.search{
  background-color: #f1f4f8;
  border-radius: 50px;
  width: 400px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input{
  background-color: transparent;
  outline: none;
  border: none;
  text-indent: 15px;
  width: 85%;
}
.search button{
  outline: none;
  border: none;
  padding: 8px;
  border-radius: 50%;
  background-color: #fff;
}
.search button i{
  font-size: 1.1rem;
  color:#5073fb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification-profile{
  display: flex;
  align-items: center;
}
.picon{
  margin-left: 20px;
  font-size: 15px;
  padding: 7px;
  border-radius: 5px;
}
.lock{
  color:#5073fb;
  background-color: rgba(80, 114, 251, .2);
}
.notification{
  color: #f1d243;
  background-color: rgba(241, 210, 67, .2);
}
.chat{
  color: #70d7a5;
  background-color: rgba(112, 215, 165, .2);
}
.profile{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.profile img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}



/* ---main--- */
.main{
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}

/* ---sidebar--- */
.sidebar{
  top: 0;
  left: 0;
  position: absolute;
  width: 300px;
  height: 100%;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid  #f1f1f1;
  transition: .6s;
}
.sidebar.active{
  width: 105px;
  overflow: hidden;
}
.sidebar.active .sidebar-item{
  display: none;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.sidebar-items a,
.bottom-sidebar-items a{
  display: flex;
  margin-bottom: 10px;
  text-decoration: none;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 0.8rem;
  color: rgb(59, 58, 58);
  font-weight: bold;
}
.sidebar-items a:hover,
.bottom-sidebar-items a:hover{
  background-color: rgba(80, 115, 251);
  color: #fbfbfb;
  text-decoration: none;
  
}
.bottom-sidebar-items li:last-child a{
  margin-bottom: 0;
}
#active-link{
  background-color: #5073fb;
  color: #fff;
}
.icon{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 1.3rem;
}
.icon-1{
  color: #c5bc58;
}
.icon-2{
  color: #a280e9;
}
.icon-3{
  color: #85ade3;
}
.icon-4{
  color: #e36ac8;
}
.icon-5{
  color: #70d7a5;
}
.icon-6{
  color: #5f5ce0;
}
.icon-7{
  color: #e86786;
}
/* ---main-content--- */
.main-content{
  width: calc(100% - 300px);
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  padding: 10px 30px;
  overflow-y: scroll;
  transition: .6s;
  background-color: rgba(224, 229, 255, .9);
}
.main-content.active{
  width: calc(100% - 105px);
}
/* ---over-views--- */
.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 30px; 
}
.section-title{
  font-weight: 400;
}
.dropdown{
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #f1f4f8;
  width: 150px;
  color:#5073fb;
}
.cards{
  display: flex;
  gap: 20px;
}
.card{
  padding: 20px;
  border-radius: 20px;
  min-width: 230px;
  height: auto;
  transition: .3s;
}
.card:hover{
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, .7);
}
.card-data{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card h1{
  font-size: 30px;
  margin-top: 10px;
}
.card-icon-lg{
  font-size: 50px;
}
.card-stats{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px
}
.card-stats span{
  display: flex;
  align-items: center;
}
.card-stats span .card-icon{
  margin-right: 5px;
}
.stat-icon{
  color: #5f5ce0;
}
.up-arrow{
  color: #70d7a5;
}
.down-arrow{
  color: #e86786;
}
.card-1{
  background-color: rgba(80, 115, 251, .2);
}
.card-1 .card-title{
  color: rgba(80, 115, 251, 1);
}
.card-1 .card-icon-lg{
  color: rgba(80, 115, 251, .7);
}
.card-2{
  background-color: rgba(197, 188, 88, .2);
}
.card-2 .card-title{
  color: rgba(197, 188, 88, 1);
}
.card-2 .card-icon-lg{
  color: rgba(197, 188, 88, .7);
}
.card-3{
  background-color: rgba(227, 106, 200, .2);
}
.card-3 .card-title{
  color: rgba(227, 106, 200, 1);
}
.card-3 .card-icon-lg{
  color: rgba(227, 106, 200, .7);
}
.card-4{
  background-color: rgba(232, 103, 134, .2);
}
.card-4 .card-title{
  color: rgba(232, 103, 134, 1);
}
.card-4 .card-icon-lg{
  color: rgba(232, 103, 134, .7);
}
/* ---doctors--- */
.companies-right-btn{
  display: flex;
  align-items: center;
  gap: 30px;
}
.add{
  display: flex;
  align-items: center;
  padding: 7px;
  outline: none;
  border: none;
  background-color: #5073fb;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}
.add:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}
.add i{
  margin-right: 10px;
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
  color: #000;
}
.companies-cards{
  display: flex;
  align-items: center;
  gap: 20px;
}
.company-card{
  padding: 20px;
  border-radius: 20px;
  height: auto;
  transition: .3s;
  border: 2px solid #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .8rem;
}
.company-card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}
.img-box-cover{
  border: 1px solid #5073fb;
  padding: 2px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 10px;
}
.img-box{
  position: relative;
  width: 80px;
  height: 71px;
  overflow: hidden;
  border-radius: 50%;
}
.img-box img{
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
.job-type{
  color: #010101;
  font-weight: 400;
}

/* ---recent-users--- */

.recent-users{
  margin-bottom: 20px;
}
.table{
  height: 200px;
}
table{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 20px;
}
tr{
  border-bottom: 1px solid #fbfbfb;
  padding: 5px;
}
tr:nth-child(even){
  background-color: rgba(206, 172, 172, .5);
}
th,
td{
  padding-inline: 10px;
  padding-block: 10px;
  font-size: 15px;
}
.view{
  color: #5f5ce0;
  margin-right: 20px;
}
.edit{
  color: rgb(255, 99, 42);
  margin-right: 20px;
}
.delete{
  color: #e86786;
}
.online{
  color: #009000;
}
.offline{
  color: #ff0000;
}
/* ---responsive-start-here--- */

@media (max-width: 1350px){
 .cards,
 .companies-cards{
  overflow-x: scroll;
 } 
}
@media (max-width: 1024px){
  table{
    min-width: 600px;
  }
}
@media (max-width: 768px){
  .logo{
    padding-left: 30px;
    width: fit-content;
  }
  .search-notification-profile{
    padding: 0 20px;
    margin-left: auto;
  }
  .main-content{
    padding: 0 20px;
  }
  .sidebar{
    padding: 20px;
  }
  .sidebar.active{
    width: 85px;
  }
  .main-content.active{
    width: calc(100% - 85px);
  }
  .add{
    display: none;
  }
}
@media (max-width: 590px){
  .search, 
  .lock, 
  .chat{
    display: none;    
  }
  .notification-profile{
    margin-left: auto;
  }
  .search-notification-profile{
    width: fit-content;
  }
  .sidebar{
    transform: translateX(-100%);
    z-index: 10;
    background-color: #fff;
  }
  .sidebar.active{
    transform: translateX(0);
    width: 200px;
  }
  .sidebar.active .sidebar-item{
    display: block;
  }
  .main-content{
    width: calc(100% - 0px);
  }
  .main-content.active{
    width: calc(100% - 0px);
  }
}
.related_header{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  margin-bottom: 20px;
}
.related_header p{
  font-size: 20px;
  font-weight: 700;
  color: #e36ac8;
}
.related_header a{
  font-size: 10px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  color: #fafafa;
  border-radius: 5px;
  background-color: #e36ac8;
}
.related_header a i{
  font-size: 15px;
}
.related_header a:hover{
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, .5);
  background-color: rgba(227, 106, 200, .5);
}
.related_area{
  width: 100%;
  height: auto;
  padding: 10px 5px;
}
.related_area table tr th{
  font-weight: normal;
  color: #e36ac8;
  font-size: 13px;
}
.related_area table tr td{
  font-size: 12px;
}
.related_area form .form-control{
  display: flex;
  gap: 50px;
  margin-top: 20px;
}
.related_area form .form-control label{
  flex-basis: 20%;
  text-align: right;
  font-size: .80rem;
  font-weight: 700;
  margin-top: 10px;
}
.related_area form .form-control .input-holder{
  flex-basis: 70%;
  padding: 3px;
}
.related_area form .form-control .input-holder input{
  width: 100%;
  border: 3px solid #e36ac8;
  padding-block: 6px; 
  outline: none;
  background-color: #fafafa;
  padding-inline: 20px;
  border-radius: 10px;
  font-size: 13px;
}
.related_area form .form-control select{
  width: 690px;
  height: 40px;
  padding-left: 20px;
  background-color: #ffffff;
  border: 3px solid #e36ac8;
  border-radius: 10px;
  font-size: 13px;
  outline: none;
}
.related_area form .form-control .input-holder textarea{
  width: 690px;
  height: 150px;
  padding: 20px;
  background-color: #ffffff;
  border: 3px solid #e36ac8;
  border-radius: 10px;
  font-size: 13px;
  outline: none;
}
.related_area form .form-control button{
  padding: 6px 30px;
  background-color: rgba(227, 106, 200, .9);
  border-radius: 10px;
  color: #fff;
  font-weight: 800;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 55px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
}
.related_area form .form-control button:hover{
  background-color: rgba(227, 106, 200, .5);
}
.required{
  color: #ff0000;
}
.alert-box{
  margin-top: 20px;
}
.alert-box .alert{
  width: auto;
  height: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.alert-box .alert.alert-danger{
  color: #fff;
  font-weight: 500;
  background-color: rgba(255, 0, 0, .5);
} 
.alert-box .alert.alert-success{
  color: #fff;
  font-weight: 500;
  background-color: rgba(0, 128, 0, .5);
} 
.alert-box .alert a{
  color: purple;
  margin-left: 10px;
}

/* dropdown */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 5px 12px;
  font-size: 13px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  font-size: 12px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* dropdown */