*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  word-spacing: 2px;
  letter-spacing: 0.5px; 
}
body{
  width: 100%;
  display: flex;
  scrollbar-width: none;
  position: relative;
}
/* ---sidebar--- */
#sidebar{
  width: 250px;
  height: 100vh;
  color: #fff;
  border-right: 2px solid #f1f1f1;
}
#sidebar.active{
  width: 100px;
  height: 100vh;
  color: #fff;
  border-right: 2px solid #f1f1f1;
}
.logo{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo i{
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}
.logo img{
  width:120px;
  height: auto;
  cursor: pointer;
  margin-left: 20px;
}
#sidebar.active .logo{
  justify-content: center;
}
#sidebar.active .logo i{
  margin: 0;
}
#sidebar.active .logo img{
  display: none;
}
.icon-1{
  color: #7978FF;
  font-size: 20px;
}
.logo h3{
  color: #000000;
}
.logo h3 span{
  color: #7978FF;
}
.sidebar-menu{
  width: 100%;
  height: auto;
}
.sidebar-menu .sidebar-items{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.9rem;
  margin-top: 30px;
  padding: 20px;
}
.sidebar-menu .sidebar-items li{
  width: 100%;
  height: auto;
  border-radius: 30px;
  padding: 10px 25px;
  display: flex;
}
#sidebar.active .sidebar-menu .sidebar-items li {
  padding: 10px 10px;
}
.sidebar-menu .sidebar-items li a{
  text-decoration: none;
  display: flex;
  gap: 20px;
  align-items: center;
}
#sidebar.active .sidebar-menu .sidebar-items li a span{
  display: none;
}
.sidebar-items li a span{
  font-weight: 400;
}
.sidebar-items li a i{
  font-size: 1.5rem;
  color: #7978FF !important;
}
.sidebar-menu .sidebar-items li:hover{
  text-align: center;
  background-color: rgba(121, 120, 255, .8);
}
.sidebar-menu .sidebar-items li:hover span{
  color: #fff;
  font-weight: 600;
}
.sidebar-menu .sidebar-items li:hover i{
  color: #fafafa !important;
  font-weight: 600;
}
.sidebar-profile-wrap{
  width: 100%;
  height: auto;
  padding: 20px;
}
.sidebar-profile-wrap a{
  text-decoration: none;
}
.sidebar-profile{
  height: auto;
  border: 2px solid rgba(70, 73, 255, .5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 10px 15px;
  color: #4649FF;
  cursor: pointer;
}
.sidebar-profile:hover{
  box-shadow: 0  4px 8px 0 rgba(0, 0, 0, .4);
}
.sidebar-profile .img{
  border-radius: 50%;
}
.sidebar-profile .img img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sidebar-profile .profile-info h5{
  color: #000;
}
.sidebar-profile .profile-info h5 .alert-badge{
  background-color: #ff0000;
  padding: 5px 10px;
  border-radius: 100%;
  color: #fff;
}
.profile-status i{
  color: #008000;
  font-size: .6rem;
  flex-wrap: wrap;
}
#sidebar.active .sidebar-profile-wrap{
  padding: 10px;
}
#sidebar.active .sidebar-profile-wrap a .sidebar-profile{
  align-items: center;
  justify-content: center;
}
#sidebar.active .sidebar-profile-wrap a .sidebar-profile .profile-info{
  display: none;
}
.sidebar-menu .sidebar-items li.active-link{
  background-color: #5073fb;
  color: #fff;
}
.sidebar-menu .sidebar-items li.active-link span{
  color: #fff;
  font-weight: 600;
}
.sidebar-menu .sidebar-items li.active-link i{
  color: #fafafa !important;
  font-weight: 600;
}
.news{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.maintenance{
  width: 800px;
  margin: 0px auto;
}


/* ---home--- */
#home-wrap{
  width: calc(100% - 250px);
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: auto;
  background-color: #f4f4f4;
}
#home-wrap.active{
  width: calc(100% - 100px);
}
.main-content{
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 20px;
}
/* ---banner--- */
.home-top-banner{
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.banner-img-holder{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.banner-text{
  width: 100%;
  height: 400px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  border: 2px solid #7978FF;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}
.theme-text{
  width: 30%;
  height: 350px;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(125, 56, 101, .4);
  cursor: pointer;
}
.theme-text:hover{
  box-shadow: 0  4px 8px 0 rgba(0, 0, 0, .4);
}
.theme-text h1{
  font-size: 1.5rem;
  color: #f1f1f1;
}
.theme-text span{
  color: #000;
  font-size: 0.8rem;
  display: block;
  word-spacing: 2px;
  font-weight: 500;
}
.theme-text button{
  padding: 6px 15px;
  background-color: rgb(148, 31, 243, .5);
  border: 1px solid #C47AFF;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  color: #f1f1f1;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-right: 3px;
  font-weight: 600;
}
.theme-text button:hover{
  background-color: #C47AFF;
  font-weight: 600;
}
.theme-two{
  background-color: rgba(148, 146, 23, .5);
}
.theme-two span{
  color: #000;
}
.theme-two button{
  background-color: rgb(219, 216, 31);
  border: 1px solid rgb(255, 251, 6);
  color: #fdfdfd;
}
.theme-two button:hover{
  background-color: rgb(255, 251, 6);
  font-weight: 600;
}
.theme-three{
  background-color: rgba(226, 134, 121, .6);
}
.theme-three span{
  color: #000;
}
.theme-three button{
  background-color: rgba(226, 134, 121, .7);
  border: 1px solid rgb(255, 70, 45);
  color: rgb(247, 205, 205);
}
.theme-three button:hover{
  background-color: rgb(255, 70, 45);
  font-weight: 600;
}
/* ---employers--- */
.top-employers-wrap{
  width: 100%;
  height: 300px;
  padding: 20px;
  margin-top: 30px;
}
.employers-container{
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ffcfcf;
  background-color: #fff;
  border-radius: 5px;
  scrollbar-width: thin;
  box-shadow: 0  4px 8px 0 rgba(0, 0, 0, .4);
  gap: 20px;
}
.top-employers-wrap h2{
  margin-bottom: 30px;
  color:#252525;
}
.employers-container .employer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 20%;
}
.employer p{
  color: rgb(139, 126, 126);
  text-align: center;
}

/* ---top-jobs---wrap */
.top-jobs-list-wrap{
  width: 100%;
  height: 700px;
  padding: 20px;
  margin-top: 30px;
}
.top-jobs-list-holder{
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ddcfcf;
  border-radius: 15px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}
/* ---detail-header--- */
.detail-header{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  font-weight: bold;
}
.detail-header .detail-middle-header{
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-header .detail-middle-header p{
  font-size: 20px;
}
.detail-header .detail-middle-header p i{
  font-size: 1rem;
  color: #f28602;
}
/* ---detail-wrapper--- */
.detail-wrapper{
  width: 100%;
  height:calc(100% - 50px);
  display: flex; 
}
.detail-wrapper .detail-middle-wrapper{
  width: 100%;
  padding: 2px;
}
.detail-wrapper .detail-middle-wrapper .detail-middle-holder{
  overflow-y: scroll;
  scrollbar-width: auto;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 10px;
}
.detail-wrapper .detail-middle-wrapper .detail-middle-holder > div{
  flex-basis: 50%;
  height: 100px;
}
.detail-wrapper .detail-middle-wrapper .detail-middle-holder a{
  border-bottom: 1px dotted #aeaeae;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  padding-block: 5px;
}
.job-highlight{
  background: #f9f8fa;
}
.detail-wrapper .detail-middle-wrapper .detail-middle-holder a p{
  color: #9458d1;
  font-size: 16px;
  font-weight: 700;
}
.detail-wrapper .detail-middle-wrapper .detail-middle-holder a span{
  color: #777;
  font-size: 14px;
}
.detail-wrapper .detail-middle-wrapper .detail-middle-holder > div:nth-of-type(2n+1){
  padding-right: 10px;
  border-right: 1px solid #eaeaea;
}
.detail-wrapper .detail-middle-wrapper .detail-middle-holder > div:nth-of-type(2n){
  padding-left: 10px;
}

/* ---popular-industries--- */
.popular-industries{
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 20px;
}
.popular-industries h2{
  margin-bottom: 20px;
  color:#252525;
}
.popular-industries .industries{
  height: auto;
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: thin;
  gap: 20px;
}
.popular-industries .industries .industry{
  width: 100px;
  display: flex;
  flex-direction: column;
}
.popular-industries .industries .industry a .icon{
  width: 85px;
  height: 85px;
  margin: 0px auto;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #eaeaea;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.popular-industries .industries .industry .icon:hover{
  margin-top: 0px;
  margin-bottom: 20px;
  border: 1px solid #4649FF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5)
}
.popular-industries .industries .industry .icon img{
  width: 50px;
  height: 50px;
}

/* ---footer--- */
.footer-subscribe-area{
  width: 100%;
  height: auto;
  display: flex;
  background-color: #7978FF;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
}
.footer-subscribe-area .subscribe-wrap{
  flex-basis: 50%;
  padding-left: 20px;
}
.footer-subscribe-area .subscribe-wrap h3{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  color: #fafafa;
}
.footer-subscribe-area .subscribe-wrap form .form-area{
  width: max-content;
  height: 40px;
  border-bottom: 2px solid #fafafa !important;
}
.footer-subscribe-area .subscribe-wrap form input{
  width: 350px;
  height: 30px;
  border: none;
  background-color: #7978FF;
  padding-left: 20px;
  outline: none;
  color: #161616;
}
.footer-subscribe-area .subscribe-wrap form input::placeholder{
  font-size: 13px;
  color: #161616;
}
.footer-subscribe-area .subscribe-wrap form .form-area button{
  background-color: transparent;
  border: none;
}
.footer-subscribe-area .subscribe-wrap form .form-area button i{
  font-size: 20px;
  color: #fcfcfc;
}
.footer-subscribe-area .footer-img img{
  width: 150px;
  height: auto;
}

/* ---footer-menu-wrap--- */
.footer-menu-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer-menu-wrap .product-logo{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}
.footer-menu-wrap .product-logo img{
  width: 120px;
  margin-bottom: 5px;
}
.footer-menu-wrap .product-logo p{
  font-size: 10px;
  color: #fbfbfb;
}

.footer-menu{
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.footer-menu ul{
  list-style: none;
  display: block;
  margin-left: 70px;
}
.footer-menu ul:first-child{
  margin-left: 0px;
}
.footer-menu ul li{
  margin-bottom: 10px;
  font-size: 11px;
}
.footer-menu ul li:last-child{
  margin-bottom: 0px;
}
.footer-menu ul li a{
  color: #d3d3d3;
  text-decoration: none;
  font-weight: 700;
}

.contactus{
  width: 15%;
  padding: 10px;
}
.contactus p{
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}
.contactus span{
  color: #fafafa;
  font-size: 12px;
}
.contactus a{
  text-decoration: none;
  color: #fafafa;
}
.contactus ul{
  list-style: none;
  margin-top: 15px;
}
.contactus ul li{
  display: inline-block;
  margin-left: 10px;
}
.contactus ul li:first-child{
  margin-left: 0px;
}
.contactus ul li a{
  text-decoration: none;
  color: #fafafa;
}

/* ---find-jobs-wrap--- */
.jobs-wrap-container{
  display: flex;
}
.find-jobs-wrap{
  flex-basis: 100%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  background-color: #fafafa;
  padding: 10px;
}
.search-recent-bar{
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.input-wrap{
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.input-wrap .job-search-input{
  padding: 10px 50px;
  border: none;
  border-top-left-radius: 30px;
  outline: none;
  border-bottom-left-radius: 30px;
  color: #4649FF;
  font-weight: 600;
  border: 1px solid #9458d1;
}
.input-wrap .job-search-input::placeholder{
  color:rgba(148, 88, 209, 0.9);
}
.input-wrap button{
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #9458d1;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.input-wrap button:hover{
  background-color: #7978FF;
}
.input-wrap button i{
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.find-jobs-wrap .search-recent-bar{
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;  
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.find-jobs-wrap .search-recent-bar .recent-jobs{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}
.find-jobs-wrap .search-recent-bar .recent-jobs a{
  text-decoration: none;
  border: 1px solid #9458d1;
  background-color: #fefefe;
  padding: 7px;
  padding-inline: 20px;
  border-radius: 20px;
  color: #9458d1;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
}
.find-jobs-wrap .search-recent-bar .recent-jobs a:hover{
  background-color: #9458d1;
  color: #fff;
  font-weight: bold;
}
.find-jobs-wrap .search-recent-bar .recent-jobs a:last-child{
  font-weight: bold;
  color: #000;
}
.recent-jobs a span{
  font-size: 10px;
}
.jobs-wrap{
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding-inline: 10px;
}
.jobs-wrap .jobs-option{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.jobs-wrap .jobs-option .options span{
  font-size: 12px;
  font-weight: bold;
}
.jobs-wrap .jobs-option .options .active-option{
  color: #7978FF;
}
.jobs-wrap .jobs-option .select-options{
  display: flex;
  gap: 10px;
  align-items: center;
}
.jobs-wrap .jobs-option .select-options span{
  font-size: 12px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.5);
}
.jobs-wrap .jobs-option .select-options select{
  padding: 4px 10px;
  border-radius: 20px;
  border: 1px solid #9458d1;
  background-color: #fff;
  text-indent: 0.01px;
  text-overflow: '';
}
.jobs-wrap .jobs-option .select-options time-option *{
  margin-top: 10px
}

/* ---job-list--- */
.jobs-list{
  width: 100%;
  height: auto;
  display: flex;
  padding-block: 30px;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}
.job{
  height: auto;
  border: 1px solid #9458d1;
  padding: 5px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  position: relative;
}
.job:hover{
  border: 2px solid #9458d1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.job .job-logo{
  flex-basis: 20%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.job .job-logo img{
  width: 120px;
  height: auto;
  padding: 10px;
  border-radius: 5px;
}
.job .job-description{
  flex-basis: 80%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.job .job-description * {
  margin-top: 5px;
  margin-bottom: 5px;
}
.job .job-description .job-text-small{
  flex-basis: 60%;
}
.job .job-description .job-text-small h5{
  color: #4649FF;
}
.job .job-description .job-text-small .position{
  color: #000;
  font-size: 15px;
}
.job .job-description .job-text-small .location-view{
  color: #504f4f;
  font-size: 12px;
}
.job .job-description .job-text-small .location-view span{
  display: block;
}
.job .job-description .job-text-small .location-view span i{
  margin-right: 5px;
}
.job .job-description .job-text-small .post-info{
  color: #504f4f;
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 7px;
}
.job .job-description .position-info{
  flex-basis: 40%;
  display: flex;
  padding: 10px;
  border-left: 1px solid rgb(163, 163, 163); 
}
.position-info .related-info{
  flex-basis: 60%;
  margin-left: 20px;
}
.position-info .related-info span{
  display: block;
  font-size: 14px;
}
.position-info .related-info span.team{
  color: #504f4f;
  font-size: 12px;
}
.position-info .related-info span.salary{
  font-weight: 700;
}
/* ---side-job--- */
#job-info{
  flex-basis: 0%;
  height: 100vh;
  background-color: #fff;
  display: none;
  overflow-y: scroll;
  scrollbar-width: thin;
  border-left: 1px solid rgb(194, 194, 194);
  position: relative;
}
#job-info .bookmark{
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
  text-decoration: none;
  background-color: #9458d1;
  padding: 5px;
  color: #fff;
  border-radius: 50%;
}
#job-info .closeBtn{
  position: absolute;
  top: 10;
  right: 10;
  z-index: 10;
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: #9458d1;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}
.show{
  display: block !important;
  flex-basis: 50% !important;
}
.find-jobs-wrap-65{
  width:50% !important;
}
.info-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.info-container hr{
  width: 100%;
  padding: 0.3px;
  border: none;
  background-color: #504f4f;
  margin-top: 20px;
}
.info-container .company-info-logo{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(80, 79, 79, .3);
  padding-bottom: 15px;
}
.info-container .company-info-logo img{
  width: 110px;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}
.info-container .company-info-logo h4{
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  color: #252525;
}
.info-container .company-info-logo p{
  font-size: 13px;
  margin-top: 10px;
  color: #aeaeae;
}
.info-container .job-text{
  margin-top: 10px;
  padding: 20px;
}
.info-container .job-text p{
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0a0a0a;
  font-weight: 700
}
.info-container .job-text p span{
  font-weight: lighter;
  color: #000;
}
.info-container .job-text span{
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #504f4f;
}
.info-container .job-text ul li{
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #504f4f;
}
.info-container .job-about{
  margin-top: 10px;
  padding: 20px;
  border-top: 1px solid rgba(80, 79, 79, .3);
}
.info-container .job-about p{
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0a0a0a;
  font-weight: 800
}
.info-container .job-about span{
  font-size: 1px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #504f4f;
  font-size: 12px;
}
.info-container .job-about ul li{
  font-size: 11px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #504f4f;
}
.info-container .job-about a{
  text-decoration: none;
}
.info-container .job-about a p{
  color: #4649FF;
  margin-right: 10px;
}
.info-container .job-apply{
  margin-top: 10px;
  padding: 20px;
}
.info-container .job-apply{
  display: flex;
  gap: 20px;
  align-items: center;
}
.info-container .job-apply .apply-btn{
  background-color: #f28602;
  padding-inline: 20px;
  padding-block: 14px;
  border: none;
  background-color: #7978FF;
  color: #fff;
  font-size: 12px;
  border-radius: 7px;
  text-decoration: none;
}
.info-container .job-apply .apply-btn:hover{
  background-color: #4649FF;
}
.info-container .job-apply .message-btn{
  width: 50px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  border-radius: 7px;
  border: none;
  background-color: #7978FF;
  color: #fff;
  cursor: pointer;
}
.info-container .job-apply .message-btn:hover{
  border: 1px solid #7978FF;
  background-color: rgba(148, 88, 209, 1);
}
 /* ---categories-list--- */
.category-search-bar{
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category-search-bar h3{
  font-size: 2rem;
}
.category-search-bar form{
  display: flex;
}
.category-search-bar form input{
  padding: 7px 30px;
  border: 1px solid #4649FF;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
}
.category-search-bar form button{
  width: 40px;
  font-size: 15px;
  border: 1px solid #4649FF;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(70, 73, 255);
  color: #fafdfa;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories-list{
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
}
.categories-wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 1px 0 11px 3px #c7c7c7;
}
.categories-wrapper div{
  padding-block: 10px;
}
.category{
  flex: 1 0 21%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.category img{
  width: 80px;
}
.category p{
  display: block;
  font-size: 13px;
  color: #7978FF;
  font-weight: bold;
  text-align: center;
}
.category .category_box-text p span{
  margin-left: 0px;
  font-weight: 500;
  color: orangered
}
/* profile */
.profile-detail-wrapper{
  width: 100%;
  height: auto;
  min-height: 360px;
  padding: 30px;
  background-color: #dfdfdf;
  position: relative;
}
.noti-text{
  width: 100%;
  background-color: #59db59;
  border-radius: 5px;
  padding-block: 7px;
  display: flex;
  justify-content: center;
}
.noti-text.fail{
  background-color: rgb(255, 240, 37);
}
.noti-text span{
  margin: 0px auto;
  color: #000;
}
.noti-text i{
  padding: 4px;
  border-radius: 5px;
  background-color: #ff0000;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
}
.profile-wrap{
  width: auto;
  height: auto;
  background-color: #9458d1;
  box-shadow: 1px 0 11px 5px rgba(0, 0, 0, .3);
  border-radius: 10px;
}
.profile-wrap .header{
  padding-top: 20px;
  padding-left: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.profile-wrap .content{
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  padding-inline: 50px;
  align-items: center;
  justify-content: space-between;
}
.profile-wrap .content .options{
  display: flex;
  gap: 20px;
}
.profile-wrap .content .options .noti{
  background-color: green;
}
.profile-wrap .content .options .edit-button{
  background-color: #5073fb;
}
.profile-wrap .content img{
  width: 100px;
  height: auto;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
}
.profile-wrap .content a{
  padding-inline: 10px;
  padding-block: 8px;
  text-decoration: none; 
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  background-color: #4649FF;
  color: #fff;
  border-radius: 10px;
}
.profile-wrap .content a:hover{
  box-shadow: 0px 0px 10px #fff;
}
.profile-wrap .content a i{
  font-size: 13px;
}
.profile-wrap .content a span{
  font-size: 13px;
}
.profile-wrap .content-details{
  width: 100%;
  height: calc(100% - 120px);
  background-color: #fff;
  padding: 20px;
  padding-inline: 50px;
}
.profile-wrap .content-details .content-text h3{
  margin-bottom: 20px;
}
.profile-wrap .content-details .content-text{
  padding-inline: 10px;
  padding-block: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.profile-wrap .content-details .content-text i{
  color: #9458d1;
}
.profile-wrap .content-details .content-text span{
  color: #000;
}
.profile-wrap .content-details .content-text.logout{ 
  justify-content: end;
  margin-top: 20px;
}
.profile-wrap .content-details .content-text.logout a{
  padding-inline: 10px;
  padding-block: 5px;
  background-color: #ff0000;
  font-size: 13px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}
.profile-wrap .content-details .content-text.logout a i,
.profile-wrap .content-details .content-text.logout a span{
  font-size: 13px;
  color: #fff;
}

/* profile */
/* companies */
.companies-list{
  width: 100%;
  padding: 20px;
}
.companies-wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 1px 0 11px 3px #c7c7c7;
  padding: 20px;
}
.companies-wrapper .company{
  flex: 1 0 21%;
  padding-block: 10px;
  border-radius: 5px;
  border: 1px solid #4649FF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin: 13px;
}
.companies-wrapper .company img{
  width: 100px;
  height: auto;
}
.companies-wrapper .company:hover{
  box-shadow:  1px 0 11px 3px #9458d1;
  border: none;
}
/* companies */
/* apply-form */
.apply-form-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(148,88,209);
  background: linear-gradient(62deg, rgba(148,88,209,1) 0%, rgba(70,73,255,1) 66%); 
}
.apply-form-container .form-wrap{
  padding: 20px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.apply-form-container .form-wrap .apply-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-right: 1px solid rgb(121, 111, 111);
}
.apply-form-container .form-wrap .apply-item h1{
  font-weight: lighter;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 24px;
  color: #000;
  font-weight: bold;
  margin-inline: 10px;
}
.apply-form-container .form-wrap .apply-item img{
  width: 250px;
  height: auto;
}
.apply-form-container .form-wrap .form-group{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.apply-form-container .form-wrap .form-group label{
  font-size: 15px;
  font-weight: bold;
}
.apply-form-container .form-wrap .form-group label span{
  font-size: 13px;
  color: orange;
}
.apply-form-container .form-wrap .form-group input{
  width: 330px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgb(119, 116, 116);
  outline: none;
  background-color: transparent;
  color: #000;
}
.apply-form-container .form-wrap .form-group .error{
  color: #ff0000;
  font-size: 10px;
  margin-top: 5px;
}
.apply-form-container .form-wrap .form-group .file-input{
  background-color: #9458d1;
  padding: 5px;
  color: #fff;
}
.apply-form-container .form-wrap .form-group.buttons{
  flex-direction: row;
}
.apply-form-container .form-group.buttons button{
  padding: 6px 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #4649FF;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.apply-form-container .form-group.buttons button.submit{
  background-color: green;
}
.apply-form-container .form-group.buttons button.back{
  background-color: orange;
}
.apply-form-container .form-wrap.buttons button:hover{
  background-color: rgba(70, 73, 255, .5);
}

/* apply-form */
.alert-box{
  width: 100%;
  margin-bottom: 10px;
}
.alert-box .alert{
  width: 100%;
  height: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.alert-box .alert.alert-danger{
  color: #fff;
  font-weight: 500;
  background-color: rgba(255, 0, 0, .5);
} 
.alert-box .alert.alert-success{
  color: #fff;
  font-weight: 500;
  background-color: rgba(0, 128, 0, .5);
} 
.alert-box .alert.alert-warning{
  color: #fff;
  font-weight: 500;
  background-color: rgb(255, 119, 0);
} 
.alert-box .alert a{
  color: purple;
  margin-left: 10px;
}
/* navbr */
#navbar{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
  display: none;
}
.navbar{
  width: 100%;
  height: 50px;
  background-color: #7978FF;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar .nav-btn .nav-icon.fade{
  display: none;
}
.navbar img{
  width: 150px;
  margin: 0px auto;
}
.navbar i{
  cursor: pointer;
  padding-left: 10px;
  color: #000;
  font-size: 24px;
}
.navbar i.drop{ 
  display: none;
}
.nav-menu{
  width: 60%;
  height: 100vh;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 20px;
  background-color: rgb(152, 152, 255);
  position: relative;
  transform: translateX(-100%);
}
.nav-menu.active{
  display: flex;
  transform: translateX(0);
}
.cencel{
  position: absolute;
  right: 0;
  padding: 10px;
  color: #ff0000;
  cursor: pointer;
  font-size: 25px;
}
.nav-menu ul{
  margin-top: 20px;
}
.nav-menu ul li{
  list-style: none;
  padding: 10px;
}
.nav-menu ul li.active-link{
  border-bottom: 1px solid #ff0000;
}
.nav-menu ul li a{
  font-size: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  gap: 10px;
}
.nav-menu ul li a i{
  color: #fff;
}
.text-alert-warning{
  color: orange;
  margin: 0px auto;
}
/* mails */

.message-wrap{
  width: auto;
  min-height: 200px;
  background-color: #fff;
  padding: 20px;
}
.message-wrap .header{
  display: flex;
  justify-content: space-between;
}
.message-wrap .header h4{
  margin-bottom: 12px;
}
.message-wrap .header button{
  font-size: 10px;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fafafa;
  border-radius: 5px;
  background-color: #e36ac8;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.message-wrap hr{
  border: 1px solid #aca8a8;
  margin-top: 10px;
  margin-bottom: 15px;
}
.message-wrap .mail-wrap{
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 2px 5px 10px rgb(119, 119, 119);
  padding: 20px;
  padding-right: 40px !important;
  background-color: #7978FF;
  position: relative;
}
.message-wrap .mail-wrap .delete_btn{
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  text-decoration: none;
  background-color: #ff0000;
  color: #fff;
  font-size: 14px;
  padding: 5px 5px;
}
.message-wrap .alert{
  color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-wrap .mail-wrap h3{
  font-size: 20px;
  margin-bottom: 20px;
}
.message-wrap .mail-wrap .message{
  font-size: 15px;
  color: #fff;
  margin-bottom: 20px;
}
.message-wrap .mail-wrap .sender{
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
}
.message-wrap .mail-wrap .sender span{
  font-size: 16px;
  color: #0a0a0a;
  margin-bottom: 10px;
}
/* mails */
/* edit */
.form-wrap{
  width: 50%;
  padding-left: 50px;
  padding-block: 20px;
  padding-right: 10px;
}
.form-control{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 7px;
}
.form-control label.error{
  font-size: 13px;
  color: #ff0000;
}
.form-control label{
  color: #fff;
}
.form-control input{
  padding: 8px 20px;
  outline: none;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 6px;
}
.form-control textarea{
  resize: none;
  padding: 14px 20px;
  outline: none;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 6px;
}
.form-control.btn{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}
.form-control.btn button{
  flex-basis: 50%;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  border: 1px solid #fff;
  font-weight: bold;
  cursor: pointer;
}
.form-control.btn button.edit-btn{
  background-color: #5073fb;
  color: #fff;
}
.form-control.btn button.edit-btn:hover{
  background-color: #4649FF;
}
.upload{
  width: 120px;
  position: relative;
  margin-bottom: 10px;
}
.upload img{
  border-radius: 50%;
  border: 6px solid #eaeaea;
  background-color: #fff;
}
.upload .round{
  position: absolute;
  bottom: 0;
  right: 0;
  background: #4649FF;
  color: #fff;
  width: 32px;
  height: 32px;
  line-height: 33px;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
}
.upload .round input[type='file']{
  position:absolute;
  transform: scale(2);
  opacity: 0;
  cursor: pointer;
}
/* edit */
/* navbr */
/* responsive */
@media (min-width: 800px) and (max-width: 1100px) {
  #home-wrap .banner-text{
    flex-direction: column;
    height: auto;
    background-size: cover;
  }
  #home-wrap.active .banner-text{
    flex-direction: row;
  }
  #home-wrap.active .banner-text .theme-text{
    width: 30%;
    margin-bottom: 0px;
  }
  #home-wrap .banner-text .theme-text{
    width: 100%;
    margin-bottom: 10px;
  }
  .employers-container{
    overflow-x: scroll;
  }
  .footer-menu-wrap .product-logo,
  .footer-menu{
    width: 50%;
  }
  .contactus{
    width: 100%;
    margin-left: 10px;
  }
  .categories-wrapper{
    grid-template-columns: repeat(3, 1fr);
  }
  .jobs-wrap-container{
    position: relative;
  }
  #job-info.show{
    width: 300px;
    position: absolute;
    z-index: 20;
    right: 0;
  }
  .maintenance{
    width: 550px;
  }
}
@media screen and (max-width: 800px){
  #sidebar{
    display: none;
  }
  #home-wrap{
    width: 100%;
    height: auto;
    scrollbar-width: auto;
  }
  #home-wrap.active{
    width: 100%;
  }
  .main-content{
    margin-bottom: 0px;
    margin-top: 50px;
    padding: 0px;
  }
  .companies-list{
    padding: 0px;
  }
  .companies-wrapper{
    border-radius: 0;
  }
  .category-search-bar form input{
    width: 250px;
  }
  #navbar{
    display: block;
  }
  .nav-menu.active{
    width: 250px;
  }
  .banner-text{
    height: auto;
    background-size: cover;
    flex-direction: row;
  }
  .theme-text{
    height: auto;
    width: 30%;
    margin-bottom: 10px;
  }
  .employers-container{
    border-radius: 0;
    overflow-x: scroll;
  }
  .detail-header .detail-middle-header,
  .detail-wrapper .detail-middle-wrapper{
    flex-basis: 100%;
  }
  .detail-wrapper .detail-middle-wrapper .detail-middle-holder > div{
    flex-basis: 50%;
    height: auto;
  }
  .detail-wrapper .detail-middle-wrapper .detail-middle-holder > div:nth-of-type(2n+1){
    padding-right: 0;
    border-right: none;
  }
  .detail-wrapper .detail-middle-wrapper .detail-middle-holder > div:nth-of-type(2n){
    padding-left: 0;
  }
  .popular-industries .industries{
    overflow-x: scroll;
  }
  .footer-subscribe-area{
    flex-direction: column;
    padding: 10px;
  }
  .footer-subscribe-area .subscribe-wrap{
    flex-basis: 100%;
    padding-left: 0;
    padding: 20px;
  }
  .footer-menu-wrap{
    flex-direction: column;
  }
  .footer-menu-wrap .product-logo,
  .footer-menu,
  .contactus{
    width: 100%;
  }
  .footer-menu{
    justify-content: flex-start;
  }
  .contactus{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 21px;
  }
  .display-page-title{
    margin-bottom: 10px ;
  }
  .jobs-wrap-container{
    position: relative;
    padding-top: 50px;
  }
  #job-info.show{
    width: 300px;
    height: auto;
    position: absolute;
    z-index: 10;
    right: 0;
  }
  .maintenance{
    width: 700px;
  }
  .profile-wrap{
    border-radius: 0px;
  }
  .profile-detail-wrapper{
    border-radius: 0;
    margin-top: 50px;
    padding: 0;
  }
  .profile-wrap .content .options{
    flex-direction: column;
  }
  .profile-wrap .content .edit-button .edit-text{
    display: none;
  }
  .categories-list{
    padding: 0;
    margin-bottom: 0;
  }
  .categories-wrapper{
    border-radius: 0;
  }
  .find-jobs-wrap{
    height: auto;
  }
  .form-wrap{
    width: 100%;
    padding: 10px;
  }
  .upload{
    margin: auto;
  }
}
@media screen and (max-width: 670px){
  .banner-text{
    background-size: cover;
    flex-direction: column;
  }
  .theme-text{
    width: 100%;
    margin-bottom: 10px;
  }
  .category-search-bar{
    flex-direction: column;
    row-gap: 10px;
  }
  .categories-wrapper{
    grid-template-columns: repeat(3, 1fr);
  }
  .job .job-description .job-text-small{
    flex-basis: 100%;
  }
  .apply-form-container .form-wrap{
    flex-direction: column;
    align-items: center;
  }
  .apply-form-container .form-wrap .apply-item{
    border: none;
  }
  .apply-form-container .form-wrap .apply-item img{
    display: none;
  }
  .apply-form-container .form-wrap .apply-item h1{
    margin-bottom: 5px;
  }
  .maintenance{
    width: 450px;
  }
  .companies-wrapper{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 500px){
  .job{
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .job .job-logo img{
    width: 100px;
  }
  .maintenance{
    width: 350px;
  }
  .companies-wrapper{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 400px){
  .job{
    flex-direction: row;
    gap: 2px;
  }
  .job .job-logo{
    flex-basis: 10%;
    padding: 5px;
  }
  .job .job-logo img{
    width: 80px;
    padding: 0;
  }
  .job .job-description{
    flex-basis: 90%;
  }
  .job .job-description .position-info{
    display: none;
  }
  .input-wrap .job-search-input{
    padding: 6px 4px;
  }
  .input-wrap button{
    padding: 6px 10px;
  }
  #job-info.show{
    width: 100%;
  }
  .job .job-description .job-text-small .location-view span{
    display: block;
  }
  .apply-form-container .form-wrap .apply-item{
    text-align: center;
  }
  .apply-form-container .form-wrap{
    width: 90%;
    gap: 10px;
    padding: 10px;
    align-items: center;
  }
  .apply-form-container .form-wrap form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .apply-form-container .form-group.buttons button{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .apply-form-container .form-wrap .form-group input{
    width: 250px;
  }
  .footer-subscribe-area .subscribe-wrap form input{
    width: 250px;
  }
}


/* responsive */