*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  word-spacing: 2px;
  letter-spacing: 0.5px; 
}
body{
  width: 100%;
  display: flex;
}
/* ---sidebar--- */
#sidebar{
  width: 250px;
  height: 100vh;
  color: #fff;
  border-right: 2px solid #f1f1f1;
}
.sidebar-show{
  width: 100px !important;
}
.logo{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  /* border-bottom: 2px solid #f1f1f1; */
}
.logo img{
  width:120px;
  height: auto;
  cursor: pointer;
  margin-left: 20px;
}
.icon{
  margin-right: 20px;
}
.icon-1{
  color: #7978FF;
  font-size: 20px;
}
.logo h3{
  color: #000000;
}
.logo h3 span{
  color: #7978FF;
}

.sidebar-menu{
  width: 100%;
  height: auto;
  padding: 20px;
}
.sidebar-menu .sidebar-items{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.9rem;
  margin-top: 30px;
}
.sidebar-menu .sidebar-items li{
  width: 100%;
  height: auto;
  border-radius: 30px;
  padding: 10px 25px;
}
.sidebar-menu .sidebar-items li a{
  text-decoration: none;
  display: flex;
  align-items: center;
}
.sidebar-menu .sidebar-items .sidebar-active{
  background-color: rgba(121, 120, 255, .8);
}
.sidebar-menu .sidebar-items .sidebar-active span{
  color: #fff !important;
  font-weight: 600 !important;
}
.sidebar-menu .sidebar-items .sidebar-active a i{
  color: #fff !important;
  font-weight: 600 !important;
}
.sidebar-items li a span{
  font-weight: 400;
}
.sidebar-items li a i{
  font-size: 1.5rem;
  color: #7978FF !important;
}
.sidebar-menu .sidebar-items li:hover{
  background-color: rgba(121, 120, 255, .8);
}
.sidebar-menu .sidebar-items li:hover span{
  color: #fff;
  font-weight: 600;
}
.sidebar-menu .sidebar-items li:hover i{
  color: #fafafa !important;
  font-weight: 600;
}

.sidebar-profile-wrap{
  width: 100%;
  height: auto;
  padding: 20px;
}
.sidebar-profile-wrap a{
  text-decoration: none;
}
.sidebar-profile{
  height: auto;
  border: 2px solid rgba(70, 73, 255, .5);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 10px 20px;
  color: #4649FF;
  cursor: pointer;
}
.sidebar-profile:hover{
  box-shadow: 0  4px 8px 0 rgba(0, 0, 0, .4);
}
.sidebar-profile .img{
  border-radius: 50%;
}
.sidebar-profile .img img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sidebar-profile .profile-info h5{
  color: #000;
}
.sidebar-profile .profile-info span{
  color: #000;
  font-size: .7rem;
}
.profile-status i{
  color: #008000;
  font-size: .6rem;
  flex-wrap: wrap;
}


/* ---home--- */
#home-wrap{
  width: calc(100% - 250px);
  height: 100vh;
  overflow-y: scroll;
  background-color: #f4f4f4;
}
.home-wrap-show{
  width: calc(100% - 100px);
}
.main-content{
  width: 100%;
  height: auto;
  padding: 30px;
  margin-bottom: 20px;
}
/* ---banner--- */
.home-top-banner{
  width: 100%;
  height: 400px;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.banner-img-holder{
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
}
.banner-text{
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-text{
  width: 30%;
  height: 300px;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(125, 56, 101, .4);
  cursor: pointer;
}
.theme-text:hover{
  box-shadow: 0  4px 8px 0 rgba(0, 0, 0, .4);
}
.theme-text h1{
  font-size: 30px;
  color: #f1f1f1;
}
.theme-text span{
  color: #000;
  font-size: 13px;
  display: block;
  word-spacing: 2px;
  font-weight: 500;
}
.theme-text button{
  padding: 6px 15px;
  background-color: rgb(148, 31, 243, .5);
  border: 1px solid #C47AFF;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  color: #f1f1f1;
  margin-bottom: 2px;
  margin-right: 3px;
  font-weight: 600;
}
.theme-text button:hover{
  background-color: #C47AFF;
  font-weight: 600;
}
.theme-two{
  background-color: rgba(148, 146, 23, .5);
}
.theme-two span{
  color: #000;
}
.theme-two button{
  background-color: rgb(219, 216, 31);
  border: 1px solid rgb(255, 251, 6);
  color: #fdfdfd;
}
.theme-two button:hover{
  background-color: rgb(255, 251, 6);
  font-weight: 600;
}
.theme-three{
  background-color: rgba(226, 134, 121, .6);
}
.theme-three span{
  color: #000;
}
.theme-three button{
  background-color: rgba(226, 134, 121, .7);
  border: 1px solid rgb(255, 70, 45);
  color: rgb(247, 205, 205);
}
.theme-three button:hover{
  background-color: rgb(255, 70, 45);
  font-weight: 600;
}
.banner-img{
  width: 100%;
  height: 100%;
}
.banner-img img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 2px solid #7978FF;
}
/* ---employers--- */
.top-employers-wrap{
  width: 100%;
  height: 300px;
  padding: 20px;
  margin-top: 30px;
}
.employers-container{
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border: 1px solid #ffcfcf;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0  4px 8px 0 rgba(0, 0, 0, .4);
}
.top-employers-wrap h2{
  margin-bottom: 30px;
  color:#252525;
}
.employers-container .employer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 25%;
}
.employer p{
  color: rgb(139, 126, 126);
}

/* ---top-jobs---wrap */
.top-jobs-list-wrap{
  width: 100%;
  height: 700px;
  padding: 20px;
  margin-top: 30px;
}
.top-jobs-list-holder{
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ddcfcf;
  border-radius: 15px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}
/* ---detail-header--- */
.detail-header{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  font-weight: bold;
}
.detail-header .detail-left-header{
  flex-basis: 10%;
  border-right: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.detail-header .detail-middle-header{
  flex-basis: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-header .detail-middle-header p{
  font-size: 20px;
}
.detail-header .detail-middle-header p i{
  font-size: 13px;
  color: #f28602;
}
.detail-header .detail-right-header{
  flex-basis: 15%;
  border-left: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
/* ---detail-wrapper--- */
.detail-wrapper{
  width: 100%;
  height:calc(100% - 50px);
  display: flex; 
}
.detail-wrapper .detail-left-wrapper{
  flex-basis: 10%;
  padding: 10px;
  border-right: 1px solid #eaeaea;
}
.detail-wrapper .detail-middle-wrapper{
  flex-basis: 75%;
  padding: 10px;
}
.detail-wrapper .detail-right-wrapper{
  flex-basis: 15%;
  border-left: 1px solid #eaeaea;
}
.detail-wrapper .detail-left-wrapper .detail-left-holder{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow-y: scroll;
}
.detail-wrapper .detail-left-wrapper .detail-left-holder img{
  width: 40px;
  height: 40px;
}
.detail-wrapper .detail-right-wrapper .detail-right-holder{
  display: flex;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.detail-wrapper .detail-right-wrapper .detail-right-holder > div{
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.detail-wrapper .detail-right-wrapper .detail-right-holder > div:last-child{
  margin-bottom:0px;
}
.detail-wrapper .detail-right-wrapper .detail-right-holder > div img{
  width: 60px;
  height: 60px;
}
.detail-wrapper .detail-middle-wrapper .detail-middle-holder{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.detail-wrapper .detail-middle-wrapper .detail-middle-holder > div{
  flex-basis: 50%;
  height: 100px;
}
.detail-wrapper .detail-middle-wrapper .detail-middle-holder a{
  border-bottom: 1px dotted #aeaeae;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}
.job-highlight{
  background: #f9f8fa;
}
.detail-wrapper .detail-middle-wrapper .detail-middle-holder a p{
  color: #9458d1;
  font-size: 16px;
  font-weight: 700;
}
.detail-wrapper .detail-middle-wrapper .detail-middle-holder a span{
  color: #777;
  font-size: 14px;
}
.detail-wrapper .detail-middle-wrapper .detail-middle-holder > div:nth-of-type(2n+1){
  padding-right: 10px;
  border-right: 1px solid #eaeaea;
}
.detail-wrapper .detail-middle-wrapper .detail-middle-holder > div:nth-of-type(2n){
  padding-left: 10px;
}

/* ---popular-industries--- */
.popular-industries{
  width: 100%;
  height: 250px;
  padding: 20px;
  margin-top: 20px;
}
.popular-industries h2{
  margin-bottom: 30px;
  color:#252525;
}
.popular-industries .industries{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.popular-industries .industries .industry{
  display: flex;
  flex-direction: column;
}
/* .popular-industries .industries .industry a{
  width: 100%;
  height: 100%;
} */
.popular-industries .industries .industry a .icon{
  width: 85px;
  height: 85px;
  margin: 0px auto;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #eaeaea;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.popular-industries .industries .industry .icon:hover{
  margin-top: 0px;
  margin-bottom: 20px;
  border: 1px solid #4649FF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5)
}
.popular-industries .industries .industry .icon img{
  width: 50px;
  height: 50px;
}
.popular-industries .industries .industry p{
  color: #777777;
  text-align: center;
}

/* ---footer--- */
.footer-subscribe-area{
  width: 100%;
  height: auto;
  display: flex;
  background-color: #7978FF;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
}
.footer-subscribe-area .subscribe-wrap{
  flex-basis: 50%;
  padding-left: 50px;
}
.footer-subscribe-area .subscribe-wrap h3{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  color: #fafafa;
}
.footer-subscribe-area .subscribe-wrap form .form-area{
  width:fit-content;
  height: 40px;
  border-bottom: 2px solid #fafafa !important;
}
.footer-subscribe-area .subscribe-wrap form input{
  width: 350px;
  height: 30px;
  border: none;
  background-color: #7978FF;
  padding-left: 20px;
  outline: none;
  color: #161616;
}
.footer-subscribe-area .subscribe-wrap form input::placeholder{
  font-size: 13px;
  color: #161616;
}
.footer-subscribe-area .subscribe-wrap form .form-area button{
  background-color: transparent;
  border: none;
}
.footer-subscribe-area .subscribe-wrap form .form-area button i{
  font-size: 20px;
  color: #fcfcfc;
}
.footer-subscribe-area .footer-img{
  flex-basis: 50%;
}
.footer-subscribe-area .footer-img img{
  width: 150px;
  height: auto;
}

/* ---footer-menu-wrap--- */
.footer-menu-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer-menu-wrap .product-logo{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}
.footer-menu-wrap .product-logo img{
  width: 120px;
  margin-bottom: 5px;
}
.footer-menu-wrap .product-logo p{
  font-size: 10px;
  color: #fbfbfb;
}

.footer-menu{
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.footer-menu ul{
  list-style: none;
  display: block;
  margin-left: 70px;
}
.footer-menu ul:first-child{
  margin-left: 0px;
}
.footer-menu ul li{
  margin-bottom: 10px;
  font-size: 11px;
}
.footer-menu ul li:last-child{
  margin-bottom: 0px;
}
.footer-menu ul li a{
  color: #d3d3d3;
  text-decoration: none;
  font-weight: 700;
}

.contactus{
  width: 15%;
  padding: 10px;
}
.contactus p{
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}
.contactus span{
  color: #fafafa;
  font-size: 12px;
}
.contactus a{
  text-decoration: none;
  color: #fafafa;
}
.contactus ul{
  list-style: none;
  margin-top: 15px;
}
.contactus ul li{
  display: inline-block;
  margin-left: 10px;
}
.contactus ul li:first-child{
  margin-left: 0px;
}
.contactus ul li a{
  text-decoration: none;
  color: #fafafa;
}

/* ---find-jobs-wrap--- */
.jobs-wrap-container{
  display: flex;
}
.find-jobs-wrap{
  flex-basis: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fafafa;
  padding: 20px;
}
.search-recent-bar{
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.input-wrap{
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.input-wrap .job-search-input{
  padding: 10px 50px;
  border: none;
  border-top-left-radius: 30px;
  outline: none;
  border-bottom-left-radius: 30px;
  color: #4649FF;
  font-weight: 600;
  border: 1px solid #9458d1;
}
.input-wrap .job-search-input::placeholder{
  color:rgba(148, 88, 209, 0.9);
}
.input-wrap button{
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #9458d1;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.input-wrap button:hover{
  background-color: #7978FF;
}
.input-wrap button i{
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.find-jobs-wrap .search-recent-bar{
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;  
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.find-jobs-wrap .search-recent-bar .recent-jobs{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}
.find-jobs-wrap .search-recent-bar .recent-jobs a{
  text-decoration: none;
  border: 1px solid #9458d1;
  background-color: #fefefe;
  padding: 7px;
  padding-inline: 20px;
  border-radius: 20px;
  color: #9458d1;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
}
.find-jobs-wrap .search-recent-bar .recent-jobs a:hover{
  background-color: #9458d1;
  color: #fff;
  font-weight: bold;
}
.find-jobs-wrap .search-recent-bar .recent-jobs a:last-child{
  font-weight: bold;
  color: #000;
}
.recent-jobs a span{
  font-size: 10px;
}
.jobs-wrap{
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.jobs-wrap .jobs-option{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.jobs-wrap .jobs-option .options span{
  font-size: 12px;
  font-weight: bold;
}
.jobs-wrap .jobs-option .options .active-option{
  color: #7978FF;
}
.jobs-wrap .jobs-option .select-options{
  display: flex;
  gap: 10px;
  align-items: center;
}
.jobs-wrap .jobs-option .select-options span{
  font-size: 12px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.5);
}
.jobs-wrap .jobs-option .select-options select{
  padding: 4px 10px;
  border-radius: 20px;
  border: 1px solid #9458d1;
  background-color: #fff;
  text-indent: 0.01px;
  text-overflow: '';
}
.jobs-wrap .jobs-option .select-options time-option *{
  margin-top: 10px
}

/* ---job-list--- */
.jobs-list{
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}
.job{
  height: 150px;
  border: 1px solid #9458d1;
  padding: 5px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  position: relative;
}
.job:hover{
  border: 2px solid #9458d1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.job .job-logo{
  flex-basis: 20%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.job .job-logo img{
  width: 120px;
  height: auto;
  padding: 10px;
  border-radius: 5px;
}
.job .job-description{
  flex-basis: 80%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.job .job-description * {
  margin-top: 5px;
  margin-bottom: 5px;
}
.job .job-description .job-text-small{
  flex-basis: 60%;
}
.job .job-description .job-text-small h5{
  color: #4649FF;
}
.job .job-description .job-text-small .position{
  color: #000;
  font-size: 15px;
}
.job .job-description .job-text-small .location-view{
  color: #504f4f;
  font-size: 12px;
}
.job .job-description .job-text-small .location-view span i{
  margin-right: 5px;
}
.job .job-description .job-text-small .post-info{
  color: #504f4f;
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 7px;
}
.job .job-description .position-info{
  flex-basis: 40%;
  display: flex;
  padding: 10px;
  border-left: 1px solid rgb(163, 163, 163); 
}
.position-info .related-info{
  flex-basis: 60%;
  margin-left: 20px;
}
.position-info .related-info span{
  display: block;
  font-size: 14px;
}
.position-info .related-info span.team{
  color: #504f4f;
  font-size: 12px;
}
.position-info .related-info span.salary{
  font-weight: 700;
}
/* ---side-job--- */
#job-info{
  flex-basis: 0%;
  height: 100vh;
  background-color: #fff;
  display: none;
  overflow-y: scroll;
  border-left: 1px solid rgb(194, 194, 194);
  position: relative;
}
#job-info .bookmark{
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
  text-decoration: none;
  background-color: #9458d1;
  padding: 5px;
  color: #fff;
  border-radius: 50%;
}
#job-info .closeBtn{
  position: absolute;
  top: 10;
  right: 10;
  z-index: 10;
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: #9458d1;
  cursor: pointer;
}
.show{
  display: block !important;
  flex-basis: 40% !important;
}
.find-jobs-wrap-65{
  width:60% !important;
}
.info-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.info-container hr{
  width: 100%;
  padding: 0.3px;
  border: none;
  background-color: #504f4f;
  margin-top: 20px;
}
.info-container .company-info-logo{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(80, 79, 79, .3);
  padding-bottom: 15px;
}
.info-container .company-info-logo img{
  width: 110px;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}
.info-container .company-info-logo h4{
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  color: #252525;
}
.info-container .company-info-logo p{
  font-size: 13px;
  margin-top: 10px;
  color: #aeaeae;
}
.info-container .job-text{
  margin-top: 10px;
  padding: 20px;
}
.info-container .job-text p{
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0a0a0a;
  font-weight: 700
}
.info-container .job-text p span{
  font-weight: lighter;
  color: #000;
}
.info-container .job-text span{
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #504f4f;
}
.info-container .job-text ul li{
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #504f4f;
}
.info-container .job-about{
  margin-top: 10px;
  padding: 20px;
  border-top: 1px solid rgba(80, 79, 79, .3);
}
.info-container .job-about p{
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0a0a0a;
  font-weight: 800
}
.info-container .job-about span{
  font-size: 1px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #504f4f;
  font-size: 12px;
}
.info-container .job-about ul li{
  font-size: 11px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #504f4f;
}
.info-container .job-about a{
  text-decoration: none;
}
.info-container .job-about a p{
  color: #4649FF;
  margin-right: 10px;
}
.info-container .job-apply{
  margin-top: 10px;
  padding: 20px;
}
.info-container .job-apply{
  display: flex;
  gap: 20px;
  align-items: center;
}
.info-container .job-apply .apply-btn{
  width: 170px;
  height: 50px;
  padding: 10px;
  font-weight: bold;
  font-size: 10px;
  border-radius: 40px;
  border: 1px solid #4649FF;
  background-color: #9458d1;
  color: #fff;
  cursor: pointer;
}
.info-container .job-apply .apply-btn:hover{
   border: 1px solid #9458d1;
  background-color: #4649FF;
}
.info-container .job-apply .message-btn{
  width: 50px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid rgba(148, 88, 209, .5);
  background-color: #7978FF;
  color: #fff;
  cursor: pointer;
}
.info-container .job-apply .message-btn:hover{
  border: 1px solid #7978FF;
  background-color: rgba(148, 88, 209, 1);
}
 /* ---categories-list--- */
.category-search-bar{
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.category-search-bar form{
  display: flex;
}
.category-search-bar form input{
  padding: 7px 30px;
  border: 1px solid #4649FF;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
}
.category-search-bar form button{
  width: 40px;
  font-size: 15px;
  border: 1px solid #4649FF;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(70, 73, 255);
  color: #fafdfa;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories-list{
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
}
.categories-wrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 1px 0 11px 3px #c7c7c7;
}
.categories-wrapper > div{
  width: 100%;
  max-width: calc(100% / 5);
  padding: 13px 0;
}
.category{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.category img{
  width: 80px;
}
.category .category_box-text p{
  font-size: 13px;
  color: #7978FF;
  font-weight: bold;
  text-align: center;
}
.category .category_box-text p span{
  margin-left: 0px;
  font-weight: 500;
  color: orangered
}
/* profile */
.profile-detail-wrapper{
  width: 100%;
  background-color: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}
.profile-detail-wrapper img{ 
  width: 100px;
}
.profile-detail-wrapper h3{
  margin-top: 20px;
  color: #fff;
  font-size: 30px;
}
.profile-detail-wrapper .button-wrap{
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  gap: 10px;
}
.profile-detail-wrapper .button-wrap a{
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}
.profile-detail-wrapper .button-wrap a.edit{
  background-color: #7978FF;
}
.profile-detail-wrapper .button-wrap a.contact{
  background-color: #f28602;
}
.profile-social{
  list-style: none;
  margin-top: 20px;
}
.profile-social li{
  display: inline-block;
}
.profile-social li a{
  text-decoration: none;
  font-size: 25px;
}
.profile-social li a .facebook{
  color: rgb(37, 37, 250);
}
.profile-social li a .instagram{
  color: rgb(148, 6, 84);
}
.profile-social li a .twitter{
  color: rgb(18, 105, 139);
}
.profile-social li a .whatsapp{
  color: forestgreen;
}
.bookmark-area{
  padding: 20px;
}
.companies-list{
  width: 100%;
  padding: 20px;
}
.companies-wrapper{
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: #ffffff;
  gap: 10px;
  box-shadow: 1px 0 11px 3px #c7c7c7;
  padding: 20px;
}
.companies-wrapper .company{
  width: 100%;
  max-width: calc(100% / 6);
  padding-block: 10px;
  border-radius: 5px;
  border: 1px solid #4649FF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin: 13px;
}
.companies-wrapper .company img{
  width: 80px;
  height: auto;
}
.companies-wrapper .company:hover{
  box-shadow:  1px 0 11px 3px #9458d1;
  border: none;
}
/* profile */